<div class="col">
  <div class="card">
    <div class="p-3">
      <ul>
        <li>
          <app-timeline-event-field
            [timelineEvent]="timelineEvent"
            field="title"
          ></app-timeline-event-field>
        </li>
        <li>
          <app-timeline-event-field
            [timelineEvent]="timelineEvent"
            field="description"
          ></app-timeline-event-field>
        </li>
        <li>
          <app-timeline-event-field
            [timelineEvent]="timelineEvent"
            field="year"
          ></app-timeline-event-field>
        </li>
        <li>
          <app-timeline-event-field
            [timelineEvent]="timelineEvent"
            field="month"
          ></app-timeline-event-field>
        </li>
        <li>
          <app-timeline-event-field
            [timelineEvent]="timelineEvent"
            field="day"
          ></app-timeline-event-field>
        </li>
        <li>
          <app-timeline-event-field
            [timelineEvent]="timelineEvent"
            field="hours"
          ></app-timeline-event-field>
        </li>
        <li>
          <app-timeline-event-field
            [timelineEvent]="timelineEvent"
            field="minutes"
          ></app-timeline-event-field>
        </li>
        <li>
          <app-timeline-event-field
            [timelineEvent]="timelineEvent"
            field="seconds"
          ></app-timeline-event-field>
        </li>
      </ul>
      <button
        type="button"
        class="btn btn-danger"
        (click)="deleteTimelineEvent()"
      >
        Delete
      </button>
    </div>
  </div>
</div>
